#root {
  max-width: 1280px;
  margin: 0 auto;
  //padding: 2rem;
  text-align: center;
  font-family: "WindSong", cursive;
  font-weight: 800;
  font-style: italic;
}
.mines-game {
  //font-family: "Kablammo", cursive;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 0 0.1rem darkslategrey;
  //border: 1px double #1a1a1a;
  background-color: #aaa;
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 3rem;
    margin: 10px;

    color: #f00;
    font-weight: bold;
    border: 2px outset #ddd;
    cursor: pointer;
    .header-inner {
      border: 2px outset #ddd;
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;
      overflow: hidden;
      &.timer {
        width: 4rem;
      }
    }
  }

  .board {
    display: flex;
    background-color: #aaa;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .row {
      display: flex;
      justify-content: center;
    }

    .cell {
      box-sizing: border-box;
      border: 2px outset #ddd;
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;

      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;

      //border: 0.1rem solid #ccc;

      &.mine {
        background-color: red;
        border: 1px solid grey;
      }

      &.safe {
        //background-color: green;
        border: 1px solid grey;
      }
    }
  }
}
