#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mines-game {
  display: flex;
  background-color: #aaa;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  .row {
    display: flex;
    justify-content: center;
  }
  .cell {
    box-sizing: border-box;
    border: 2px outset #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;

    width: 1.5rem;
    height: 1.5rem;
    //border: 0.1rem solid #ccc;

    &.mine {
      background-color: red;
    }
    &.safe {
      background-color: green;
    }
  }
}
